<!-- Event Dispatch modal -->
<div id="eventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Conversion Logged</h4>
      </div>
      <div class="modal-body">
        <h5 style="color: #800000;">Event dispatched to Optimizely</h5>
        <a href="http://app.optimizely.com/l/nm5UcL">View Results Page</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg active" data-dismiss="modal" style="background-color: #800000; border-color: #800000;">Close</button>
      </div>
    </div>
  </div>
</div>
