<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../">«</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#" style="color: #800000; font-size: 1.15em;">Addison & Boss <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/shop/products">Products</a>
      <a class="nav-item nav-link" href="#">My Account</a>
      <button type="button" class="btn btn-primary btn-sm active" style="background-color: #800000; border-color: #800000;" data-toggle="modal" data-target="#myModal">Experiment Info</button>
    </div>
  </div>
</nav>