<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <div class="jumbotron" style="background-color: #0081ba; color: white;">
      <h1>Optimizely Full Stack Demo Suite</h1>
    </div>
    <div class="container summary">
      <h2 style="text-align: center;">About This Site</h2><br />
      <p style="font-size: 1.25em;">From this page you can navigate to several different "micro-sites" that each pertain to a popular Optimizely vertical.  Each of these micro-sites are running multiple Optimizely Full Stack Experiments. Use these sites with customers and/or developers to show them Full Stack in action.</p>
    </div><br /><br />
    <div class="container">
    <h2 style="text-align: center;">Available Micro-Sites</h2><br />
      <a href="shop/" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #0081BA;">E-Commerce</button></a><br />
      <a href="travel/" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #0081BA;">Travel</button></a>
    </div>
  </body>
</html>