<!DOCTYPE html>
<html>
  {{> head}}
	<body>
    <!--
    <div class="container">
      {{> navbar}}
    </div>
    -->
    <div class="jumbotron">
      <h1>Dan's Shoe Store</h1>
    </div>
    <div class="container shop-body">
      <div class="product">
        <h2>Product 1 Title</h2>
        <h4>This is a description of product 1</h4>
      </div>
      <div class="product">
        <h2>Product 2 Title</h2>
        <h4>This is a description of product 2</h4>
      </div>
    </div>
	</body>
</html>
