<!DOCTYPE html>
<html>
  {{> head}}
	<body>
    <!--
    <div class="container">
      {{> navbar}}
    </div>
    -->
    <div class="jumbotron">
      <h1>Dan's Shoe Store</h1>
    </div>
	</body>
</html>
