.jumbotron {
  text-align: center;
}

.shop-body {
  text-align: center;
}

.button {
  border-radius: 2px;
  background-color: grey;
  width: 50%;
  height: 30px;
  margin: auto;
  color: white;
  text-decoration: none;
}
