* {
	font-family: Open Sans;
}

/*Styles below specific to Demo Suite landing page*/
.micro-site-link {
	border: 2px solid #0081ba;
	border-radius: 5px;
	text-align: center;
	height: 100px;
	transition: background-color 0.4s;
}

.micro-site-link:hover {
	background-color: #0081BA;
}

.micro-site-title {
	padding-top: 7%;
	color: black;
}

.btn:hover {
	background-color: blue;
}


/*a {
	display: block;
	border: 2px solid #0081ba;
	margin-top: 20px;
	text-decoration: none;
	color: #0081ba;
	transition: 0.4s background-color, 0.4s color;
	height: 50px;
	font-size: 1.5em;
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

a:hover {
	background-color: #0081ba;
	text-decoration: none;
}*/