* {
    font-family: Open Sans;
}

/*div {
	border: 2px solid black;
}*/

@keyframes fadein {
    0% { opacity: 0; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.headline {
	height: 400px;
	color: white;
	transition: 0.4s opacity;
}

.headline:hover {
	opacity: 0.9;
}

.main-title {
	position: absolute;
	bottom: 0;
	left: 1;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.sample {
	display: inline-block;
	padding-right: 10px;
	color: #0081BA;
	margin: auto;
	margin-top: 10px;
	height: 200px;
	padding: 0px;
}

.sample-articles {
	margin-top: 25px;
}

.sample-image {
	height: 200px;
	width: 100%;
}

.sample-title {
	color: white;
}

.top-stories {
	list-style-type: none;
}