* {
    font-family: Open Sans;
}

/*div {
	border: 2px solid black;
}*/

@keyframes fadein {
    0% { opacity: 0; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

a {
	color: #0081BA;	
}

.form-search {
	padding-top: 10px;
}

.headline {
	height: 400px;
	color: white;
	transition: 0.4s opacity;
}

.headline:hover {
	opacity: 0.9;
}

li {
	padding-top: 5px;
}

.main-title {
	position: absolute;
	bottom: 0;
	left: 1;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	color: white;
}

.main-title:hover {
	color: #0081BA;
}

.sample {
	display: inline-block;
	color: #0081BA;
	margin: auto;
	margin-bottom: 60px;
	height: 200px;
	padding: 0px;
}

.sample-articles {
	margin-top: 40px;
}

.sample-image {
	height: 200px;
	width: 100%;
}

.sample-title {
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
}

.social-glyph {
	height: 50px;
	margin: 10px;
}

span {
	color: #0081BA;
}

.top-stories {
	list-style-type: none;
}

.title {
	text-align: center;
}