* {
  font-family: Copperplate;
}

.title {
  text-align: center;
  color: white;
}

.hero-image {
  background-image: url('https://4.bp.blogspot.com/-tdYTws2mERY/V7dRgK7RlxI/AAAAAAAAeDE/OncU6Bdin1Qmrq2J3nMiTV52G1XPChArQCLcB/s1600/Harley-Davidson-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 500px;
}

.shop-body {
  text-align: center;
}

.btn {
  color: red;
  font-family: Copperplate;
}

/*Styles below specific to 'products.hbs' file*/
.results-hero-image{
  background-image: url('http://www.harley-davidson.com/content/dam/h-d/images/motorcycles/my15/dom/bb-road-glide-reveal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: white;
  text-align: center;
}

.product {
  border: 2px solid;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
  transition: 0.4s background-color, 0.4s color;
  color: #0081BA;
}

.product:hover {
  background-color: #0081BA;
  color: white;
}

.product:hover > a {
  text-decoration: none;
}

.product-listing {
  display: inline-block;
}

/*Styles below specific to 'product_details.hbs' file*/
.product-details {
  color: #0081BA;
  padding-top: 75px;
}

.img {
  height: 500px;
  border-radius: 10px;
}

.price-and-checkout {
  color: #0081BA;
}

.add-to-cart {
  background: none;
  border: 2px solid #0081BA;
  font-size: 1.5em;
  color: #0081BA;
}



