* {
  font-family: Copperplate;
}

@keyframes fadein {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.add-to-cart {
  background: none;
  border: 2px solid #0081BA;
  font-size: 1.5em;
  color: #0081BA;
}

.all-products {
  animation: fadein 2s;
}

.btn {
  color: red;
  font-family: Copperplate;
}

.container {
  animation: fadein 1s;
}

.hero-image {
  background-image: url('https://4.bp.blogspot.com/-tdYTws2mERY/V7dRgK7RlxI/AAAAAAAAeDE/OncU6Bdin1Qmrq2J3nMiTV52G1XPChArQCLcB/s1600/Harley-Davidson-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 500px;
}

.img {
  height: 500px;
}

.price-and-checkout {
  color: #0081BA;
}

.product {
  display: inline-block;
  margin: 35px;
  padding-right: 10px;
  transition: 0.4s background-color;
  color: black;
}

.product:hover {
  background-color: #e6e6e6;
}

.product-listing {
  text-align: center;
}

.product-details {
  padding-top: 75px;
}

.shop-body {
  position: 
}

.thumbnail {
  height: 250px;
}

.title {
  text-align: center;
  color: white;
  animation: fadein 1s;
}




