* {
  font-family: Open Sans;
}

.title {
  text-align: center;
  color: #0081BA;
}

.hero-image {
  background-image: url('http://www.wallpapermade.com/images/wallpapers/originals/harley-davidson-motorcycle-black-white-photo-wallpaper-2024.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #0081BA;
  height: 500px;
}

.shop-body {
  text-align: center;
  color: #0081BA;
}

.btn {
  color: red;
}

/*Styles below specific to 'products.hbs' file*/
.results-hero-image{
  background-image: url('http://www.harley-davidson.com/content/dam/h-d/images/motorcycles/my15/dom/bb-road-glide-reveal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: white;
  text-align: center;
}

.product {
  border: 2px solid;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
  transition: 0.4s background-color, 0.4s color;
  color: #0081BA;
}

.product:hover {
  background-color: #0081BA;
  color: white;
}

.product:hover > a {
  text-decoration: none;
}

.product-listing {
  display: inline-block;
}

/*Styles below specific to 'product_details.hbs' file*/
.product-details {
  color: #0081BA;
  padding-top: 75px;
}

.img {
  height: 500px;
  border-radius: 10px;
}

.price-and-checkout {
  color: #0081BA;
}

.add-to-cart {
  background: none;
  border: 2px solid #0081BA;
  font-size: 1.5em;
  color: #0081BA;
}




