<!DOCTYPE html>
<html>
  {{> _mediaHead}}
    <body>
        <nav class="navbar  navbar-toggleable-md navbar-light bg-faded" style="background-color: black;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="../">«</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#" style="color: #0081BA; font-size: 1.15em;">News</a>
                    <a class="nav-item nav-link" href="/shop/products" style="color: white;">Products</a>
                    <a class="nav-item nav-link" href="#" style="color: white;">My Account</a>
                    <button type="button" class="btn btn-primary btn-sm active pull-right" style="background-color: #0081BA; border-color: #0081BA;" data-toggle="modal" data-target="#myModal">Experiment Info</button>
                </div>
            </div>
        </nav><br />
        <div class="container">
            <div class="row">
                <div class="col-md-8 headline" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{mainArticle.img}}); background-size: cover;">
                    <h3 class="main-title">{{mainArticle.title}}</h3>
                </div>
                <div class="col-md-4">
                    <p style="text-align: center;">Top Stories</p><hr />
                    <ul class="top-stories">
                        {{#each topStories}}
                        <li>{{title}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="sample-articles">
                <div class="row">
                    {{#each samples}}
                    <div class="col-md-2 col-sm-12 col-xs-12 sample">
                        <h3>{{category}}</h3 >
                    </div>
                    {{/each}}
                </div>                
            </div>
        </div>
    </body>
</html>
