<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
  </head>
	<body>
    <div class="jumbotron">
      <h1 style="text-align: center;">Welcome to the Hawaiian Ski Company</h1>
    </div>
    <div class="container shop-body">
      <h3 style="text-align: center;">We're a tropical purveyor of high quality winter gear. Whether you experience the slopes on a pair of skis or on your back, you'll love our products</h3>
    </div>
	</body>
</html>
