<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/shop.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
  </head>
	<body>
    <div class="jumbotron title" style="background-color: white;">
      <h1>Resin & Steel Bikes and Gear</h1>
    </div>
    <div class="jumbotron hero-image" style="background-image: url('https://static.pexels.com/photos/104842/bmw-vehicle-ride-bike-104842.jpeg')">
      <br /><h2 style="font-size: 3em; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">The toughest brands <br /> for the toughest roads</h2><br /><br />
      <a href="/shop/products">
        <button type="button" class="btn btn-primary" style="background-color: #cc7a00; border: none; font-size: 1.5em; color: white;">Check out the best gear around</button>
      </a>
    </div>
    <div class="container shop-body">
    </div>
	</body>
</html>
