<!DOCTYPE html>
<html>
  {{> head}}
	<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/shop/products">Products</a>
          <a class="nav-item nav-link" href="#">My Account</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron title" style="background-color: white; height: 300px;">
      <h1>Resin & Steel Bikes and Gear</h1>
      <img src="/imgs/logo.png" width="200" height="160">
    </div>
    <div class="jumbotron hero-image">
      <br /><h2 style="font-size: 3em; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">The toughest brands <br /> for the toughest roads</h2><br /><br />
      <a href="/shop/products">
        <button type="button" class="btn btn-primary" style="background-color: #cc7a00; border: none; font-size: 1.5em; color: white;">Check out our products</button>
      </a>
    </div>
    <div class="container shop-body">
    </div>
	</body>
</html>
