<!DOCTYPE html>
<html>
  {{> head}}  
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="../shop" style="color: #800000; font-size: 1.15em;">Addison & Boss</a>
          <a class="nav-item nav-link" href="#">Products</a>
          <a class="nav-item nav-link" href="#">My Account</a>
          <button type="button" class="btn btn-primary btn-sm active" style="background-color: #800000; border-color: #800000;" data-toggle="modal" data-target="#myModal">Experiment Info</button>
        </div>
      </div>
    </nav><br />
    <div class="product-listing">
      <h2 class="title" style="color: #800000; font-size: 3em;">Our Bikes</h2>
      {{#each productArray}}
      <a href="/shop/products/{{_id}}">
        <div class="col-md-4 col-sm-6 col-xs-12 product all-products">
          <div class="thumbnail" style="background-image: url({{img}}); background-size: contain; background-repeat: no-repeat; background-position: center;"></div><br />
          <h4><b>${{price}}</b> | {{title}}</h4>
        </div>
      </a>
      {{/each}}
    </div>
    {{> experimentInfoModal}}
	</body>
</html>
