<!DOCTYPE html>
<html>
  {{> head}}
	<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../">«</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="../" style="color: #800000; font-size: 1.15em;">Addison & Boss</a>
          <a class="nav-item nav-link" href="/shop/products">Products</a>
          <a class="nav-item nav-link" href="#">My Account</a>
          <button type="button" class="btn btn-primary btn-sm active" style="background-color: #800000; border-color: #800000;" data-toggle="modal" data-target="#myModal">Experiment Info</button>
        </div>
      </div>
    </nav><br />
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="img" style="background-image: url({{img}}); background-size: contain; background-position: center; background-repeat: no-repeat;">
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-details">
            <h2 style="color: #800000;">{{title}}</h2>
            <h4>${{price}}</h4>
            <hr />
            <ul>
              <li>Free U.S. Shipping</li>
              <li>Available in U.S. and Canada</li>
            </ul>
            <hr />
            <p>{{description}}</p>
          </div>
          <br />
          <div class="price-and-checkout" style="text-align: center;">
          <form action="/shop/products" method="post" id="add-to-cart">
            <button type="submit" class="btn btn-primary btn-lg active" aria-pressed="true" style="background-color: #800000; border-color: #800000;" data-toggle="modal" data-target="#eventModal" form="add-to-cart" value="Submit">Add to Cart</button>
          </form>
          </div><br />
        </div>
      </div>
    </div>
    {{> experimentInfoModal}}
    {{> eventDispatchModal}}
	</body>
</html>